.card {
  max-width: 400px;
  height: 400px;
  width: 100%;
  border-radius: 14px;
  background: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1058823529);
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
.card_blocks {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.card_block-right {
  border-left: 2px solid #FFFFFF;
  display: grid;
  gap: 10px;
  padding: 20px;
}

.type_weather {
  font-size: 16px;
  font-weight: 500;
}

.country {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.temperature {
  font-size: 36px;
  font-weight: 700;
}

.search {
  padding: 10px 20px;
  color: #FFFFFF;
  background: #5983dc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.search:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.search:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.input {
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 14px;
}

.image {
  margin-top: 5%;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100%;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg, linear-gradient(46deg, #05159E 0%, #D7FDFF 99.99%, #84D3FF 100%));
  color: #FFFFFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}